.cart-dropdown {
  display: flex;
  border: 1px solid black;
  width: 250px;
  height: 380px;
  position: absolute;
  top: 100px;
  right: 55px;
  box-shadow: 0 5px 10px lightgray;
  background-color: whitesmoke;
  z-index: 2;
  flex-direction: column;
  padding: 5px;
  padding-bottom: 0;

  .cart-items {
    // border: 1px solid black;
    height: 300px;
    display: flex;
    flex-direction: column;
    overflow: scroll;
  }

  .button {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 8px;
    margin-bottom: 2px;
  }
}
