.cart-item {
  display: flex;
  flex-wrap: wrap;
  height: 80px;
  width: 100%;
  margin-bottom: 15px;

  img {
    width: 30%;
    margin-bottom: 8px;
  }

  .line-style {
    border: 0;
    height: 0;
    width: 100%;
    border-top: 1px solid rgba(0, 0, 0, 0.1);
    border-bottom: 1px solid rgba(255, 255, 255, 0.3);
  }

  .item-details {
    display: flex;
    font-size: 16px;
    width: 70%;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }
}
